body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.color-picker {
  color: orange;
}
.flexiable-container {
  display: flex;
}

.first-class {
  width: 50%;
  padding: 5%;
}
.first-class img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 15px 20px;
  border-radius: 25px;
  font-weight: 200;
  color: aliceblue;
}
.top-banner {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
}
.flexiable-container .img-with {
  width: 50%;
}
.position-class {
  text-align: center;
}

.exprience-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
}
.exprience-item img {
  width: 80%;
  padding: 5%;
}
.mit-class {
  width: 90%;
  display: flex;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 5%;
  border-radius: 15px;
  box-shadow: 10px 10px 40px gray;
}
.dive-one {
  width: 33.3%;
  margin-left: 20%;
}
.dive-two {
  width: 33.3%;
}
.dive-three {
  width: 33.3%;
}
.over-all-class {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 31, 31);
}
#org-color {
  color: orange;
}
.rcp-color {
  color: cadetblue;
}
.p-color {
  color: aliceblue;
}
